/*body{
	background-image: url("/Images/mainquote.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
};*/
/*div{
	display: inline-block;
}*/

/*#Barcelona{
	text-align: center;
	
}

img{
	opacity: 0.7;
}*/
