<!DOCTYPE html>
<html lang="en" ng-app='myApp'>
<head>
	<meta charset="UTF-8">
	<title>Main Page</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>  <!-- angular linked -->
	<script src='
https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js'></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
<link rel="stylesheet" href="./../css/main.css">
	<script src='/socket.io/socket.io.js'></script>
	<script>
		var myModule = angular.module('myApp', ['ui.router']);
		myModule.config(function($urlRouterProvider, $stateProvider){
			$stateProvider
				.state('cities', {
					url: '/cities',
					templateUrl: 'partials/cities.html'
				})
				.state('cities.topics', {
					url: '/topics',
					templateUrl: 'partials/topics.html'
				})
				.state('profile', {
					url: '/userprofile',
					templateUrl: 'partials/profile.html'
				})
				$urlRouterProvider.otherwise('/cities');
		});
		// factory
		myModule.factory('profileFactory', function($http){
			var factory = {};
			factory.profile = function(callback)
			{
				$http.get('/profile/user').success(function(result){
					console.log(result);
					callback(result);
				})
			}
			factory.edit = function(data, callback)
			{
				
				$http.post('/editInfo', data).success(function(result)
				{
					callback(result);
				})
			}
			factory.getUsers = function(callback)
			{
				$http.get('/getUsers').success(function(data)
				{
					// console.log(data);
					callback(data);
				})
			}

			return factory;
		});
		// cities factory
		myModule.factory('citiesFactory', function($http)
		{
			var factory = {};
			factory.check = function(data)
			{
				$http.get('/checkCity/' + data).success(function(result){
					console.log(result);
				})
			}
			return factory;
		})
		//controller
		myModule.controller('profileController',function($scope, profileFactory){
			$scope.profile = {};
			$scope.success = {};
			$scope.users = ['aman'];
			// console.log(id);
			profileFactory.profile(function(data){
				$scope.profile = data;
			});
			$scope.edit = function()
			{
				console.log($scope.edituser);
				profileFactory.edit($scope.edituser, function(success){
					$scope.success = success;
					profileFactory.profile(id, function(data){
					$scope.profile = data;
					});
				})
			}
			// $scope.getUsers = function()
			// {
			// 	profileFactory.getUsers(function(data)
			// 	{
			// 		console.log(data);
			// 		$scope.users = data;
			// 		console.log($scope.users);
			// 	})
			// }
		});
		// cities controller
		myModule.controller('citiesController', function($scope, citiesFactory)
		{
			$scope.cities = function(data)
			{
				citiesFactory.check(data);
			}
		})
	</script>

	
</head>
<body ng-controller='profileController'>
	<div class="container">
		<div class='row'>
			<h3><a ui-sref="cities">Cities</a> | <a ui-sref='profile'>User Profile</a> </h3>
		</div>
		
		<div ui-view>
			
		</div>
	</div>
	<script>
		var socket = io.connect();
	</script>
</body>
</html>

